.navbar {
    background-color: #3c3d41;
    color: white;
    font-weight: bold;
    padding-top: 0; 
    height: 75px;
    position: absolute;
    top: 0;
    width: 100%; 
};

Link {
    color: #aaa;
    font-weight: 200px;
}