.main-layout {
  background: url('../images/background.png');
}

.navLogo {
  width: 50%;
}

.Calendar {
  border-collapse: collapse;
  border: black;
  padding: 0;
  margin: 4rem auto 0;
  
}

.Calendar th,
.Calendar td {
  padding: 1rem;
  text-align: center;
}

.Day:hover {
  background: #eee;
  color: #000;
}

.Day.today {
  background: #666;
  color: #fff;
}

.Day.selected {
  background: #2980b9;
  color: #fff;
}

.Day.other-month {
  background: #fafafa;
  color: #aaa;
}