<<<<<<< HEAD
.card {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color: white;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
}
=======
.mdl-card__title {
  background-color: rgba(241, 50, 43, 1.0);
}

.material-icons {
  color: rgba(241, 50, 43, 1.0);
}
>>>>>>> fb254dd52b74a7173696a48f285dec8daf8a7d36
