.jumbotron {
    background-image: url(../../images/navlogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    padding: 0;
    margin-top: 75px;
    height: 200px;
}
.display-3 {
    text-align: center;
    font-size: 50px;
}
  
